.wrapIframeDataLakeShared{
  background-color: white;
  padding: 16px 24px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  .wrapIframeDataLake{
    border: none;
  }
  .hiddenViewDataset{
    position: absolute;
    background-color: white;
    top: 0;
    /* left: 0; */
    right: 0;
    bottom: 0;
    width: 28px;
  }
}
