.wrapSelectQuery{
  & :global .queryBuilder {
    .ant-input {
      width: auto;
    }
  }

  & :global .ruleGroup{
    background-color: #f0f4fe;
    border-color: #416ef0;
    padding:12px !important;
  }

  & :global .queryBuilder > .ruleGroup{
    border-color: #416ef0 !important;
    border-radius: 8px !important;
    background-color: rgba(250, 250, 250, 1) !important;
  }

  & :global .rule-operators{
    .ant-select{
      min-width: 180px !important;
    }
  }
}

.wrapContentGroupBy{
  border: 1px solid #416ef0;
  border-radius: 8px;
  background-color: rgba(250, 250, 250, 1);
  padding:12px;

  .optionNameGroup{
    & :global .ant-form-item{
      margin-bottom: 8px !important;
    }
  }

  & :global .ant-form-item-required::before{
    right: -12px !important;
  }
  
  & :global .ant-form-item-label{
    label{
      font-weight: 500;
    }
  }
  .labelSelectOption{
    font-weight: 500;
    display: inline-block; 
    position: relative;
    padding-right:10px;
    
    &::after{
     position: absolute;
     right: 0px;
     top:3px;
     display: inline-block;
     color: #ff4d4f;
     font-size: 14px;
     font-family: SimSun, sans-serif;
     line-height: 1;
     content: '*';
    }
  }
}