.form-item-title {
  margin-bottom: 0.4rem;
  
  .ant-form-item-control {
    display: none;
  }
}

.form-item-add {
  margin: 0;
  padding: 18px 24px;
  
  .ant-form-item-explain {
    margin-top: 0.4rem;
  }
}
