.inputUserItem{
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 4px hsla(241, 51%, 20%, 12%);
  margin-bottom:10px;
}