$text-black-color: #212121;
$text-white-color: #ffffff;
$white: #fff;
$hover-drop-menu: #55595c;
$white-btn: #fff;
$separate: #666666;
$subTitle: #636261;
$background: #f5f5f5;

$border-color-input: #f4f2eb;

$black_1: #000000;
$black_2: #1d1d1d;
$black_3: #282828;
$black_4: #ffffff;

$gary_1: #333333;
$gary_2: #4f4f4f;
$gary_3: #828282;
$gary_4: #bdbdbd;
$gary_5: #e0e0e0;
$gary_6: #f2f2f2;
$gary_7: #fbfafd;

$tab_not_active_color: #BEC4CE;

$dark-green: #006d33;

$cart_button: rgba(0, 109, 51, 0.7);
$hover-button: #00461f;

$primary: #416ef0;
$secondary: #006d33;
$display_1: #fbb648;
$display_2: #fb3e3e;
$display_3: #243284;
$display_4: #E7AB00;

$colorInfo: #2f80ed;
$colorSuccess: #27ae60;
$colorWaning: #e2b93b;
$colorError: #e72f2f;

// color homepage
$title-box-background: #f4f2eb;
$footer-background: #fbfbfc;

//Height header
$headerHeight: 48px;
$width-sidebar-left: 256px;
