.wrapDataSourceName{


  .dataSourceAction{
    background-color: white;
    margin-bottom: 16px;
    padding: 16px 24px;
    border-radius: 4px; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}