// wrapModalErrorStatus
.wrapModalErrorStatus{
  .modal_title_error{
    font-size: 14px !important;
  }
  .pageHelp{
    display: flex;
    flex-direction: column;
    align-items: center;
    .description{
      text-align: center;
    }
  }
}