.actions{
  display: flex;
  justify-content: flex-end;
  gap:12px;
  margin-top:18px;
}
.wrapColumnOld{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.simpleBarReact{
  max-height: calc(100vh - 260px);
}