


.ant-dropdown.ant-dropdown-placement-bottomLeft {
        width: 330px!important;
        border-radius: 10px;
        padding-top: 10px !important;
    }
/* Style for the container of search results */
.search-results {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for individual items in the search results */
.result-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.result-item:hover {
    background-color: #f0f0f0;
}

/* Style for the "No result" message */
.no-result {
    padding: 8px;
    color: red;
    font-weight: bold;
}

.input_placeHolder_workspace {
    background-color: transparent;
}
